name: DevSecOps CI Pipeline (Java + SBOM)

on:
  push:
    branches: [master]
  pull_request:

jobs:
  sbom:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java + Maven
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Verify Maven
        run: mvn -v

      - name: Generate SBOM
        run: mvn org.cyclonedx:cyclonedx-maven-plugin:2.9.1:makeBom

      - name: Upload SBOM
        uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: target/bom.xml

  build:
    runs-on: ubuntu-latest
    needs: sbom

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java + Maven
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Build
        run: mvn clean install -DskipTests

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java + Maven
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Test
        run: mvn test
