name: DevSecOps CI Pipeline

on:
  push:
    branches: [master]
  pull_request:
env:
  NODE_VERSION: "20"

jobs:
  # ---------------- CODE QUALITY ----------------
  lint:
    name: ESLint Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - run: npm ci
      - run: npm run lint || echo "No lint configured"

  # ---------------- SBOM ----------------
  sbom:
    name: SBOM Generation
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - run: npm install -g @cyclonedx/cyclonedx-npm
      - run: npm ci
      - run: cyclonedx-npm --output-file sbom.json

      - uses: actions/upload-artifact@v4
        with:
          name: sbom
          path: sbom.json

  # ---------------- SNYK SCA ----------------
  snyk-sca:
    name: Snyk Dependency Scan (SCA)
    runs-on: ubuntu-latest
    needs: sbom
    steps:
      - uses: actions/checkout@v4

      - run: npm install -g snyk snyk-to-html
      - run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - run: |
          snyk test --severity-threshold=high --json > sca.json
          snyk-to-html -i sca.json -o sca.html

      - uses: actions/upload-artifact@v4
        with:
          name: sca-report
          path: sca.html

  # ---------------- SNYK SAST ----------------
  snyk-sast:
    name: Snyk Code Scan (SAST)
    runs-on: ubuntu-latest
    needs: snyk-sca
    steps:
      - uses: actions/checkout@v4

      - run: npm install -g snyk snyk-to-html
      - run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - run: |
          snyk code test --severity-threshold=high --json > sast.json
          snyk-to-html -i sast.json -o sast.html

      - uses: actions/upload-artifact@v4
        with:
          name: sast-report
          path: sast.html

  # ---------------- BUILD ----------------
  build:
    name: Build Application
    runs-on: ubuntu-latest
    needs: snyk-sast
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"

      - run: npm ci
      - run: npm run build

  # ---------------- TEST ----------------
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm test
